Azure/Sentinel Playbooks/OLD/Run-MDEAntivirus-alert/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "",
        "description": "",
        "prerequisites": "",
    "postDeployment": [],
    "prerequisitesDeployTemplateFile": "",
    "lastUpdateTime": "",
"entities": [],
"tags": [],
"support": {
"tier": "community",
"armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
},
"author": {
"name": ""
}
},
"parameters": {
"PlaybookName": {
"defaultValue": "Run-MDEAntivirus-alert",
"type": "string"
}
},
"variables": {
"MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
"WdatpConnectionName": "[concat('Wdatp-', parameters('PlaybookName'))]"
},
"resources": [
{
"properties": {
    "provisioningState": "Succeeded",
    "state": "Enabled",
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {
            "$connections": {
            "defaultValue": {},
            "type": "Object"
        }
    },
    "triggers": {
        "Microsoft_Sentinel_alert": {
            "type": "ApiConnectionWebhook",
            "inputs": {
                "body": {
                    "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                    }
                },
                "path": "/subscribe"
            }
        }
    },
    "actions": {
        "Alert_-_Get_incident": {
        "runAfter": {},
        "type": "ApiConnection",
        "inputs": {
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                }
            },
            "method": "get",
            "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/workspaces/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/alerts/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
        }
    },
    "Entities_-_Get_Hosts": {
        "runAfter": {
            "Initialize_MDEDeviceId": [
                "Succeeded"
            ]
        },
        "type": "ApiConnection",
        "inputs": {
            "body": "@triggerBody()?['Entities']",
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                }
            },
            "method": "post",
            "path": "/entities/host"
        }
    },
    "For_each": {
        "foreach": "@body('Entities_-_Get_Hosts')?['Hosts']",
        "actions": {
            "Condition": {
                "actions": {
                    "Machines_-_Get_single_machine": {
                    "runAfter": {},
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['wdatp_1']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/api/machines/@{encodeURIComponent(items('For_each')?['HostName'])}"
                    }
                },
                "Set_MDEDeviceId": {
                    "runAfter": {
                        "Machines_-_Get_single_machine": [
                            "Succeeded"
                        ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "MDEDeviceId",
                        "value": "@body('Machines_-_Get_single_machine')?['id']"
                    }
                }
            },
        "runAfter": {},
        "else": {
            "actions": {
                "Machines_-_Get_single_machine_2": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['wdatp_1']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/api/machines/@{encodeURIComponent(items('For_each')?['MdatpDeviceId'])}"
                }
            },
            "Set_MDEDeviceId_2": {
                "runAfter": {
                    "Machines_-_Get_single_machine_2": [
                        "Succeeded"
                    ]
                },
                "type": "SetVariable",
                "inputs": {
                    "name": "MDEDeviceId",
                    "value": "@body('Machines_-_Get_single_machine_2')?['id']"
                }
            }
        }
    },
    "expression": {
        "and": [
            {
                "equals": [
                    "@items('For_each')?['MdatpDeviceId']",
                    "@null"
                ]
            }
        ]
    },
    "type": "If"
},
"Condition_2": {
    "actions": {
        "Actions_-_Run_antivirus_scan": {
        "runAfter": {},
        "type": "ApiConnection",
        "inputs": {
            "body": {
                "Comment": "AV Scan run from playbook for Azure Sentinel Incident:  - ",
                "ScanType": "Full"
            },
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['wdatp']['connectionId']"
                }
            },
            "method": "post",
            "path": "/api/machines/@{encodeURIComponent(variables('MDEDeviceId'))}/runAntiVirusScan"
        }
    },
    "Add_comment_to_incident_(V3)": {
        "runAfter": {
            "Actions_-_Run_antivirus_scan": [
                "Succeeded"
            ]
        },
        "type": "ApiConnection",
        "inputs": {
            "body": {
                "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                "message": "<p>@{items('For_each')?['HostName']} (MDE Device ID: @{body('Machines_-_Get_single_machine')?['id']}) had a full AV scan triggered and the status was @{body('Actions_-_Run_antivirus_scan')?['status']}<br>\n<br>\nView device page:&nbsp;@{variables('Device page')}</p>"
            },
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                }
            },
            "method": "post",
            "path": "/Incidents/Comment"
        }
    }
},
"runAfter": {
    "Set_Device_page": [
        "Succeeded"
    ]
},
"else": {
    "actions": {
        "Add_comment_to_incident_(V3)_2": {
        "runAfter": {},
        "type": "ApiConnection",
        "inputs": {
            "body": {
                "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                "message": "<p>@{items('For_each')?['HostName']} could not be found in MDE, so no AV scan was run.<br>\n<br>\nView device page: @{variables('Device page')}</p>"
            },
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                }
            },
            "method": "post",
            "path": "/Incidents/Comment"
        }
    }
}
},
"expression": {
"and": [
    {
        "not": {
            "equals": [
                "@variables('MDEDeviceId')",
                "@null"
            ]
        }
    }
]
},
"type": "If"
},
"Set_Device_page": {
"runAfter": {
"Condition": [
    "Succeeded"
]
},
"type": "SetVariable",
"inputs": {
"name": "Device page",
"value": "https://security.microsoft.com/machines/@{body('Machines_-_Get_single_machine')?['id']}/overview"
}
}
},
"runAfter": {
"Entities_-_Get_Hosts": [
"Succeeded"
]
},
"type": "Foreach"
},
"Initialize_Device_page": {
"runAfter": {
"Alert_-_Get_incident": [
"Succeeded"
]
},
"type": "InitializeVariable",
"inputs": {
"variables": [
{
"name": "Device page",
"type": "string"
}
]
}
},
"Initialize_MDEDeviceId": {
"runAfter": {
"Initialize_Device_page": [
"Succeeded"
]
},
"type": "InitializeVariable",
"inputs": {
"variables": [
{
"name": "MDEDeviceId",
"type": "string"
}
]
}
}
},
"outputs": {}
},
"parameters": {
"$connections": {
"value": {
"azuresentinel": {
"connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
"connectionName": "[variables('MicrosoftSentinelConnectionName')]",
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
"connectionProperties": {
"authentication": {
"type": "ManagedServiceIdentity"
}
}
},
"azuresentinel_1": {
"connectionId": "/subscriptions/a1a21640-263b-45e1-9ad1-be5b4e1eb6ad/resourceGroups/5Q-RG-Playbooks/providers/Microsoft.Web/connections/azuresentinel",
"connectionName": "azuresentinel",
"id": "/subscriptions/a1a21640-263b-45e1-9ad1-be5b4e1eb6ad/providers/Microsoft.Web/locations/eastus/managedApis/azuresentinel"
},
"wdatp": {
"connectionId": "[resourceId('Microsoft.Web/connections', variables('WdatpConnectionName'))]",
"connectionName": "[variables('WdatpConnectionName')]",
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Wdatp')]",
"connectionProperties": {
"authentication": {
"type": "ManagedServiceIdentity"
}
}
},
"wdatp_1": {
"connectionId": "/subscriptions/a1a21640-263b-45e1-9ad1-be5b4e1eb6ad/resourceGroups/5Q-RG-Playbooks/providers/Microsoft.Web/connections/wdatp",
"connectionName": "wdatp",
"id": "/subscriptions/a1a21640-263b-45e1-9ad1-be5b4e1eb6ad/providers/Microsoft.Web/locations/eastus/managedApis/wdatp"
}
}
}
}
},
"name": "[parameters('PlaybookName')]",
"type": "Microsoft.Logic/workflows",
"location": "[resourceGroup().location]",
"tags": {
"LogicAppsCategory": "security",
"hidden-SentinelTemplateName": "Run-MDEAntivirus-alert",
"hidden-SentinelTemplateVersion": "1.0"
},
"identity": {
"type": "SystemAssigned"
},
"apiVersion": "2017-07-01",
"dependsOn": [
"[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
"[resourceId('Microsoft.Web/connections', variables('WdatpConnectionName'))]"
]
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('MicrosoftSentinelConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('MicrosoftSentinelConnectionName')]",
"customParameterValues": {},
"parameterValueType": "Alternative",
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
}
}
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('WdatpConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('WdatpConnectionName')]",
"customParameterValues": {},
"parameterValueType": "Alternative",
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Wdatp')]"
}
}
}
]
}
