Azure/Sentinel Playbooks/OLD/Restrict-MDEFileHash-incident/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "",
        "description": "",
        "prerequisites": "",
    "postDeployment": [],
    "prerequisitesDeployTemplateFile": "",
    "lastUpdateTime": "",
"entities": [],
"tags": [],
"support": {
"tier": "community",
"armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
},
"author": {
"name": ""
}
},
"parameters": {
"PlaybookName": {
"defaultValue": "Restrict-MDEFileHash-incident",
"type": "string"
}
},
"variables": {
"MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]"
},
"resources": [
{
"properties": {
    "provisioningState": "Succeeded",
    "state": "Enabled",
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {
            "$connections": {
            "defaultValue": {},
            "type": "Object"
        }
    },
    "triggers": {
        "Microsoft_Sentinel_incident": {
            "type": "ApiConnectionWebhook",
            "inputs": {
                "body": {
                    "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                    }
                },
                "path": "/incident-creation"
            }
        }
    },
    "actions": {
        "Entities_-_Get_FileHashes": {
        "runAfter": {},
        "type": "ApiConnection",
        "inputs": {
            "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                }
            },
            "method": "post",
            "path": "/entities/filehash"
        }
    },
    "For_each": {
        "foreach": "@body('Entities_-_Get_FileHashes')?['Filehashes']",
        "actions": {
            "Add_comment_to_incident_(V3)": {
                "runAfter": {
                    "Switch": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "body": {
                        "incidentArmId": "@triggerBody()?['object']?['id']",
                        "message": "<p>@{items('For_each')?['Value']} was added to MDE Indicators with action: AlertandBlock via playbook.</p>"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Incidents/Comment"
                }
            },
            "Switch": {
            "runAfter": {},
            "cases": {
                "Case": {
                    "case": "SHA1",
                    "actions": {
                        "HTTP": {
                        "runAfter": {},
                        "type": "Http",
                        "inputs": {
                            "authentication": {
                                "audience": "https://api.securitycenter.windows.com/",
                                "type": "ManagedServiceIdentity"
                            },
                            "body": {
                                "action": "AlertAndBlock",
                                "application": "Azure Sentinel",
                                "description": "@{triggerBody()?['object']?['properties']?['incidentNumber']}-@{triggerBody()?['object']?['properties']?['title']}",
                                "expirationTime": "@{addDays(triggerBody()?['TimeGenerated'], 90)}",
                                "indicatorType": "FileSha1",
                                "indicatorValue": "@{items('For_each')?['Value']}",
                                "severity": "@{triggerBody()?['object']?['properties']?['severity']}",
                                "title": "@{guid()}"
                            },
                            "method": "POST",
                            "uri": "https://api.securitycenter.windows.com/api/indicators"
                        }
                    }
                }
            },
            "Case_2": {
                "case": "SHA256",
                "actions": {
                    "HTTP_2": {
                    "runAfter": {},
                    "type": "Http",
                    "inputs": {
                        "authentication": {
                            "audience": "https://api.securitycenter.windows.com/",
                            "type": "ManagedServiceIdentity"
                        },
                        "body": {
                            "action": "AlertAndBlock",
                            "application": "Azure Sentinel",
                            "description": "@{triggerBody()?['object']?['properties']?['incidentNumber']}-@{triggerBody()?['object']?['properties']?['title']}",
                            "expirationTime": "@{addDays(triggerBody()?['TimeGenerated'], 90)}",
                            "indicatorType": "FileSha256",
                            "indicatorValue": "@{items('For_each')?['Value']}",
                            "severity": "@{triggerBody()?['object']?['properties']?['severity']}",
                            "title": "@{guid()}"
                        },
                        "method": "POST",
                        "uri": "https://api.securitycenter.windows.com/api/indicators"
                    }
                }
            }
        }
    },
    "default": {
    "actions": {}
},
"expression": "@items('For_each')?['Algorithm']",
"type": "Switch"
}
},
"runAfter": {
"Entities_-_Get_FileHashes": [
"Succeeded"
]
},
"type": "Foreach"
}
},
"outputs": {}
},
"parameters": {
"$connections": {
"value": {
"azuresentinel_1": {
"connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
"connectionName": "[variables('MicrosoftSentinelConnectionName')]",
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
"connectionProperties": {
"authentication": {
"type": "ManagedServiceIdentity"
}
}
}
}
}
}
},
"name": "[parameters('PlaybookName')]",
"type": "Microsoft.Logic/workflows",
"location": "[resourceGroup().location]",
"tags": {
"LogicAppsCategory": "security",
"AutomationRule": "Respond-BlockEntity",
"hidden-SentinelTemplateName": "Restrict-MDEFileHash-incident",
"hidden-SentinelTemplateVersion": "1.0"
},
"identity": {
"type": "SystemAssigned"
},
"apiVersion": "2017-07-01",
"dependsOn": [
"[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
]
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('MicrosoftSentinelConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('MicrosoftSentinelConnectionName')]",
"customParameterValues": {},
"parameterValueType": "Alternative",
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
}
}
}
]
}
