Azure test resources/Old exported playbooks/Comment_RemediationSteps/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "",
        "description": "",
        "prerequisites": "",
    "postDeployment": [],
    "prerequisitesDeployTemplateFile": "",
    "lastUpdateTime": "",
"entities": [],
"tags": [],
"support": {
"tier": "community",
"armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
},
"author": {
"name": ""
}
},
"parameters": {
"PlaybookName": {
"defaultValue": "Comment_RemediationSteps",
"type": "string"
}
},
"variables": {
"AzuremonitorlogsConnectionName": "[concat('Azuremonitorlogs-', parameters('PlaybookName'))]",
"MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]"
},
"resources": [
{
"properties": {
    "provisioningState": "Succeeded",
    "state": "Enabled",
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {
            "$connections": {
            "defaultValue": {},
            "type": "Object"
        }
    },
    "triggers": {
        "When_Azure_Sentinel_incident_creation_rule_was_triggered": {
            "type": "ApiConnectionWebhook",
            "inputs": {
                "body": {
                    "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                    }
                },
                "path": "/incident-creation"
            }
        }
    },
    "actions": {
        "For_each_2": {
            "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
            "actions": {
                "Condition": {
                    "actions": {
                        "For_each": {
                            "foreach": "@body('Parse_JSON')",
                            "actions": {
                                "Condition_2": {
                                    "actions": {
                                        "Add_comment_to_incident_(V3)": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": {
                                                "incidentArmId": "@triggerBody()?['object']?['id']",
                                                "message": "<p>Recommended Remediation Steps:<br>\n@{replace(replace(replace(replace(items('For_each')['RemediationSteps'], '[',''), ']', ''), '\"', ''), '.,', '.')}</p>"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/Incidents/Comment"
                                        },
                                        "description": "Post remediation steps as a comment on the related incident. Remediation steps has been reformatted to be string friendly with programmatic JSON characters removed."
                                    }
                                },
                            "runAfter": {},
                            "else": {
                                "actions": {
                                    "Condition_3": {
                                        "actions": {
                                            "Add_comment_to_incident_(V3)_2": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "message": "<p>Recommended Remediation Steps:<br>\n@{\r\nreplace(replace(replace(replace(replace(replace(items('For_each')['RemediationSteps'], '{', ''),'}',''),'\"',''), '\\r\\n', '\r\n'),'[', ''),']', '')}<br>\n</p>"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Incidents/Comment"
                                            },
                                            "description": "Post remediation steps as a comment on the related incident. Remediation steps has been reformatted to be string friendly with programmatic JSON characters removed."
                                        }
                                    },
                                "runAfter": {},
                                "expression": {
                                    "and": [
                                        {
                                            "equals": [
                                                "@items('For_each')['ProviderName']",
                                                "Azure Security Center"
                                            ]
                                        }
                                    ]
                                },
                                "type": "If",
                                "description": "Determine whether alert is for ASC (Azure Defender) or not"
                            }
                        }
                    },
                    "expression": {
                        "and": [
                            {
                                "equals": [
                                    "@items('For_each')['ProviderName']",
                                    "MDATP"
                                ]
                            }
                        ]
                    },
                    "type": "If",
                    "description": "Determine whether alert is for Microsoft Defender for Endpoint or not"
                }
            },
            "runAfter": {
                "Parse_JSON": [
                    "Succeeded"
                ]
            },
            "type": "Foreach"
        },
        "Parse_JSON": {
            "runAfter": {
                "Run_query_and_list_results": [
                    "Succeeded"
                ]
            },
            "type": "ParseJson",
            "inputs": {
                "content": "@body('Run_query_and_list_results')?['value']",
                "schema": {
                    "items": {
                        "properties": {
                            "AlertLink": {
                                "type": "string"
                            },
                            "AlertName": {
                                "type": "string"
                            },
                            "AlertSeverity": {
                                "type": "string"
                            },
                            "AlertType": {
                                "type": "string"
                            },
                            "CompromisedEntity": {
                                "type": "string"
                            },
                            "ConfidenceLevel": {
                                "type": "string"
                            },
                        "ConfidenceScore": {},
                        "Description": {
                            "type": "string"
                        },
                        "DisplayName": {
                            "type": "string"
                        },
                        "EndTime": {
                            "type": "string"
                        },
                        "Entities": {
                            "type": "string"
                        },
                        "ExtendedLinks": {
                            "type": "string"
                        },
                        "ExtendedProperties": {
                            "type": "string"
                        },
                        "IsIncident": {
                            "type": "boolean"
                        },
                        "ProcessingEndTime": {
                            "type": "string"
                        },
                        "ProductComponentName": {
                            "type": "string"
                        },
                        "ProductName": {
                            "type": "string"
                        },
                        "ProviderName": {
                            "type": "string"
                        },
                        "RemediationSteps": {
                            "type": "string"
                        },
                        "ResourceId": {
                            "type": "string"
                        },
                        "SourceComputerId": {
                            "type": "string"
                        },
                        "SourceSystem": {
                            "type": "string"
                        },
                        "StartTime": {
                            "type": "string"
                        },
                        "Status": {
                            "type": "string"
                        },
                        "SystemAlertId": {
                            "type": "string"
                        },
                        "Tactics": {
                            "type": "string"
                        },
                        "TenantId": {
                            "type": "string"
                        },
                        "TimeGenerated": {
                            "type": "string"
                        },
                        "Type": {
                            "type": "string"
                        },
                        "VendorName": {
                            "type": "string"
                        },
                        "VendorOriginalId": {
                            "type": "string"
                        },
                        "WorkspaceResourceGroup": {
                            "type": "string"
                        },
                        "WorkspaceSubscriptionId": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "type": "array"
            }
        },
        "description": "Parse event to surface attribute that contains Remediation Steps"
    },
    "Run_query_and_list_results": {
    "runAfter": {},
    "type": "ApiConnection",
    "inputs": {
        "body": "SecurityAlert\n| summarize arg_max(TimeGenerated, *) by SystemAlertId\n| where SystemAlertId in(\"@{items('For_each_2')?['properties']?['systemAlertId']}\") ",
        "host": {
            "connection": {
                "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
            }
        },
        "method": "post",
        "path": "/queryData",
        "queries": {
            "resourcegroups": "rg-5q-sentinel",
            "resourcename": "5Q-LogAnalytics-Sentinel",
            "resourcetype": "Log Analytics Workspace",
            "subscriptions": "/subscriptions/a1a21640-263b-45e1-9ad1-be5b4e1eb6ad",
            "timerange": "@items('For_each_2')?['properties']?['timeGenerated']"
        }
    },
    "description": "Searches for the raw SecurityAlert event in the workspace to surface the Remediation Steps related to the event"
}
},
"runAfter": {},
"expression": {
"or": [
{
    "equals": [
        "@items('For_each_2')?['properties']?['productName']",
        "Azure Security Center"
    ]
},
{
    "equals": [
        "@items('For_each_2')?['properties']?['productName']",
        "Microsoft Defender Advanced Threat Protection"
    ]
}
]
},
"type": "If",
"description": "Determine if Alert comes from ASC (Azure Defender) or Microsoft Defender for Endpoint as these data sources contain recommended remediation steps."
}
},
"runAfter": {},
"type": "Foreach"
}
},
"outputs": {}
},
"parameters": {
"$connections": {
"value": {
"azuremonitorlogs": {
"connectionId": "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]",
"connectionName": "[variables('AzuremonitorlogsConnectionName')]",
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
},
"azuresentinel_1": {
"connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
"connectionName": "[variables('MicrosoftSentinelConnectionName')]",
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
"connectionProperties": {
"authentication": {
"type": "ManagedServiceIdentity"
}
}
}
}
}
}
},
"name": "[parameters('PlaybookName')]",
"type": "Microsoft.Logic/workflows",
"location": "[resourceGroup().location]",
"tags": {
"LogicAppsCategory": "security",
"status": "Good",
"trigger": "incident",
"AutomationRule": "EnrichAll",
"hidden-SentinelTemplateName": "Comment_RemediationSteps",
"hidden-SentinelTemplateVersion": "1.0"
},
"identity": {
"type": "SystemAssigned"
},
"apiVersion": "2017-07-01",
"dependsOn": [
"[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]",
"[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
]
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('AzuremonitorlogsConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('AzuremonitorlogsConnectionName')]",
"customParameterValues": {},
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
}
}
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('MicrosoftSentinelConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('MicrosoftSentinelConnectionName')]",
"customParameterValues": {},
"parameterValueType": "Alternative",
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
}
}
}
]
}
