Azure test resources/Send-AnalyticalRulesHealthNotifications/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "",
        "description": "",
        "prerequisites": "",
    "postDeployment": [],
    "prerequisitesDeployTemplateFile": "",
    "lastUpdateTime": "",
"entities": [],
"tags": [],
"support": {
"tier": "community",
"armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
},
"author": {
"name": ""
}
},
"parameters": {
"PlaybookName": {
"defaultValue": "Send-AnalyticalRulesHealthNotifications",
"type": "string"
},
"ChannelId": {
"type": "string",
"metadata": {
    "description": "Enter value for ChannelId"
}
},
"CurrentSubscriptionId": {
"type": "string",
"metadata": {
    "description": "Enter value for CurrentSubscriptionId"
}
},
"MailingList": {
"type": "string",
"metadata": {
    "description": "Enter value for MailingList"
}
},
"ResourceGroupName": {
"type": "string",
"metadata": {
    "description": "Enter value for ResourceGroupName"
}
},
"TeamsId": {
"type": "string",
"metadata": {
    "description": "Enter value for TeamsId"
}
},
"WorkspaceName": {
"type": "string",
"metadata": {
    "description": "Enter value for WorkspaceName"
}
}
},
"variables": {
"Office365ConnectionName": "[concat('Office365-', parameters('PlaybookName'))]",
"TeamsConnectionName": "[concat('Teams-', parameters('PlaybookName'))]"
},
"resources": [
{
"properties": {
    "provisioningState": "Succeeded",
    "state": "Enabled",
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {
            "$connections": {
            "defaultValue": {},
            "type": "Object"
        },
        "ChannelId": {
            "type": "string",
            "defaultValue": "[parameters('ChannelId')]"
        },
        "CurrentSubscriptionId": {
            "type": "string",
            "defaultValue": "[parameters('CurrentSubscriptionId')]"
        },
        "MailingList": {
            "type": "string",
            "defaultValue": "[parameters('MailingList')]"
        },
        "ResourceGroupName": {
            "type": "string",
            "defaultValue": "[parameters('ResourceGroupName')]"
        },
        "TeamsId": {
            "type": "string",
            "defaultValue": "[parameters('TeamsId')]"
        },
        "WorkspaceName": {
            "type": "string",
            "defaultValue": "[parameters('WorkspaceName')]"
        }
    },
    "triggers": {
        "Recurrence": {
            "recurrence": {
                "frequency": "Minute",
                "interval": 30
            },
            "evaluatedRecurrence": {
                "frequency": "Minute",
                "interval": 30
            },
            "type": "Recurrence"
        }
    },
    "actions": {
        "Analytical_Rules": {
            "runAfter": {
                "Get_a_team": [
                    "Succeeded"
                ]
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "AutoDisabledAnalyticalRules",
                        "type": "array"
                    }
                ]
            }
        },
        "Channel_Id": {
            "runAfter": {
                "Teams_Id": [
                    "Succeeded"
                ]
            },
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "ChannelId",
                        "type": "string",
                        "value": "19:e965270be0b74d78bbcd249f0c798346@thread.tacv2"
                    }
                ]
            }
        },
        "Condition_2": {
            "actions": {
                "Create_HTML_table": {
                "runAfter": {},
                "type": "Table",
                "inputs": {
                    "columns": [
                        {
                            "header": "Rule Name",
                            "value": "@item()?['Rule Name']"
                        },
                        {
                            "header": "Reason",
                            "value": "@item()?['Reason']"
                        },
                        {
                            "header": "KQL Query",
                            "value": "@item()?['KQL Query']"
                        },
                        {
                            "header": "Severity",
                            "value": "@item()?['Severity']"
                        }
                    ],
                    "format": "HTML",
                    "from": "@variables('AutoDisabledAnalyticalRules')"
                }
            },
            "Post_message_in_a_chat_or_channel": {
                "runAfter": {
                    "Send_an_email_(V2)": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "body": {
                        "messageBody": "<p>!!! ATTENTION NEEDED !!!<br>\nFollowing Sentinel Analytical Rules from @{variables('LogAnalyticsWorkspaceName')} has been Auto Disabled.<br>\n<br>\n@{body('Create_HTML_table')}</p>",
                        "recipient": {
                            "channelId": "19:e965270be0b74d78bbcd249f0c798346@thread.tacv2",
                            "groupId": "31b9af4e-30d6-4bce-826d-7723dffda48e"
                        }
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['teams']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/beta/teams/conversation/message/poster/@{encodeURIComponent('User')}/location/@{encodeURIComponent('Channel')}"
                }
            },
            "Send_an_email_(V2)": {
                "runAfter": {
                    "Create_HTML_table": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "body": {
                        "Body": "<p><span style=\"font-family: Segoe UI\">!!! ATTENTION NEEDED !!!<br>\nFollowing Sentinel Analytical Rules from </span><span style=\"font-family: Segoe UI\">@{variables('LogAnalyticsWorkspaceName')}</span><span style=\"font-family: Segoe UI\"> has been Auto Disabled.<br>\n<br>\n</span><span style=\"font-family: Segoe UI\">@{body('Create_HTML_table')}</span><span style=\"font-family: Segoe UI\"></span></p>",
                        "Importance": "High",
                        "Subject": "!!!IMPORTANT!!! Analytical Rule disabled",
                        "To": "@{variables('MailingList')}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365_1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                }
            }
        },
        "runAfter": {
            "For_each": [
                "Succeeded"
            ]
        },
        "expression": {
            "and": [
                {
                    "greater": [
                        "@length(variables('AutoDisabledAnalyticalRules'))",
                        0
                    ]
                }
            ]
        },
        "type": "If"
    },
    "For_each": {
        "foreach": "@body('Parse_JSON')?['value']",
        "actions": {
            "Condition": {
                "actions": {
                    "Append_to_array_variable": {
                        "runAfter": {
                            "Compose": [
                                "Succeeded"
                            ]
                        },
                        "type": "AppendToArrayVariable",
                        "inputs": {
                            "name": "AutoDisabledAnalyticalRules",
                            "value": "@outputs('Compose')"
                        }
                    },
                    "Compose": {
                    "runAfter": {},
                    "type": "Compose",
                    "inputs": {
                        "KQL Query": "@items('For_Each')?['properties']?['query']",
                        "Reason": "@items('For_Each')?['properties']?['description']",
                        "Rule Name": "@items('For_Each')?['properties']?['displayName']",
                        "Severity": "@items('For_Each')?['properties']?['severity']"
                    }
                }
            },
        "runAfter": {},
        "expression": {
            "and": [
                {
                    "startsWith": [
                        "@items('For_each')?['properties']?['displayName']",
                        "AUTO DISABLED"
                    ]
                },
                {
                    "equals": [
                        "@items('For_Each')?['properties']?['enabled']",
                        false
                    ]
                }
            ]
        },
        "type": "If"
    }
},
"runAfter": {
    "Parse_JSON": [
        "Succeeded"
    ]
},
"type": "Foreach"
},
"Get_a_team": {
"runAfter": {},
"type": "ApiConnection",
"inputs": {
"host": {
    "connection": {
        "name": "@parameters('$connections')['teams_2']['connectionId']"
    }
},
"method": "get",
"path": "/beta/teams/@{encodeURIComponent('31b9af4e-30d6-4bce-826d-7723dffda48e')}"
}
},
"HTTP": {
"runAfter": {
"Channel_Id": [
    "Succeeded"
]
},
"type": "Http",
"inputs": {
"authentication": {
    "type": "ManagedServiceIdentity"
},
"method": "GET",
"uri": "https://management.azure.com/subscriptions/@{variables('SubscriptionId')}/resourceGroups/@{variables('LogAnalyticsResourceGroup')}/providers/Microsoft.OperationalInsights/workspaces/@{variables('LogAnalyticsWorkspaceName')}/providers/Microsoft.SecurityInsights/alertRules?api-version=2020-01-01"
}
},
"Log_Analytics_Resource_group_Name": {
"runAfter": {
"SubscriptionId": [
    "Succeeded"
]
},
"type": "InitializeVariable",
"inputs": {
"variables": [
    {
        "name": "LogAnalyticsResourceGroup",
        "type": "string",
        "value": "@parameters('ResourceGroupName')"
    }
]
}
},
"Log_Analytics_Workspace_Name": {
"runAfter": {
"Log_Analytics_Resource_group_Name": [
    "Succeeded"
]
},
"type": "InitializeVariable",
"inputs": {
"variables": [
    {
        "name": "LogAnalyticsWorkspaceName",
        "type": "string",
        "value": "@parameters('WorkspaceName')"
    }
]
}
},
"Mailing_List": {
"runAfter": {
"Log_Analytics_Workspace_Name": [
    "Succeeded"
]
},
"type": "InitializeVariable",
"inputs": {
"variables": [
    {
        "name": "MailingList",
        "type": "string",
        "value": "@parameters('MailingList')"
    }
]
}
},
"Parse_JSON": {
"runAfter": {
"HTTP": [
    "Succeeded"
]
},
"type": "ParseJson",
"inputs": {
"content": "@body('HTTP')",
"schema": {
    "properties": {
        "body": {
            "properties": {
                "value": {
                    "items": {
                        "properties": {
                            "etag": {
                                "type": "string"
                            },
                            "id": {
                                "type": "string"
                            },
                            "kind": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "properties": {
                                "properties": {
                                "alertRuleTemplateName": {},
                                "description": {
                                    "type": "string"
                                },
                                "displayName": {
                                    "type": "string"
                                },
                                "enabled": {
                                    "type": "boolean"
                                },
                                "eventGroupingSettings": {
                                    "properties": {
                                        "aggregationKind": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "incidentConfiguration": {
                                    "properties": {
                                        "createIncident": {
                                            "type": "boolean"
                                        },
                                        "groupingConfiguration": {
                                            "properties": {
                                                "enabled": {
                                                    "type": "boolean"
                                                },
                                                "entitiesMatchingMethod": {
                                                    "type": "string"
                                                },
                                                "groupByEntities": {
                                                    "type": "array"
                                                },
                                                "lookbackDuration": {
                                                    "type": "string"
                                                },
                                                "reopenClosedIncident": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "lastModifiedUtc": {
                                    "type": "string"
                                },
                                "query": {
                                    "type": "string"
                                },
                                "queryFrequency": {
                                    "type": "string"
                                },
                                "queryPeriod": {
                                    "type": "string"
                                },
                                "severity": {
                                    "type": "string"
                                },
                                "suppressionDuration": {
                                    "type": "string"
                                },
                                "suppressionEnabled": {
                                    "type": "boolean"
                                },
                                "tactics": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                },
                                "triggerOperator": {
                                    "type": "string"
                                },
                                "triggerThreshold": {
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        },
                        "type": {
                            "type": "string"
                        }
                    },
                    "required": [
                        "id",
                        "name",
                        "etag",
                        "type",
                        "kind",
                        "properties"
                    ],
                    "type": "object"
                },
                "type": "array"
            }
        },
        "type": "object"
    },
    "headers": {
        "properties": {
            "Cache-Control": {
                "type": "string"
            },
            "Content-Length": {
                "type": "string"
            },
            "Content-Type": {
                "type": "string"
            },
            "Date": {
                "type": "string"
            },
            "Expires": {
                "type": "string"
            },
            "Pragma": {
                "type": "string"
            },
            "Server": {
                "type": "string"
            },
            "Strict-Transport-Security": {
                "type": "string"
            },
            "Transfer-Encoding": {
                "type": "string"
            },
            "Vary": {
                "type": "string"
            },
            "X-Content-Type-Options": {
                "type": "string"
            },
            "x-ms-correlation-request-id": {
                "type": "string"
            },
            "x-ms-ratelimit-remaining-subscription-reads": {
                "type": "string"
            },
            "x-ms-request-id": {
                "type": "string"
            },
            "x-ms-routing-request-id": {
                "type": "string"
            }
        },
        "type": "object"
    },
    "statusCode": {
        "type": "integer"
    }
},
"type": "object"
}
}
},
"SubscriptionId": {
"runAfter": {
"Analytical_Rules": [
"Succeeded"
]
},
"type": "InitializeVariable",
"inputs": {
"variables": [
{
    "name": "SubscriptionId",
    "type": "string",
    "value": "@parameters('CurrentSubscriptionId')"
}
]
}
},
"Teams_Id": {
"runAfter": {
"Mailing_List": [
"Succeeded"
]
},
"type": "InitializeVariable",
"inputs": {
"variables": [
{
    "name": "TeamsId",
    "type": "string",
    "value": "@body('Get_a_team')?['id']"
}
]
}
}
},
"outputs": {}
},
"parameters": {
"$connections": {
"value": {
"office365_1": {
"connectionId": "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
"connectionName": "[variables('Office365ConnectionName')]",
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
},
"teams": {
"connectionId": "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
"connectionName": "[variables('TeamsConnectionName')]",
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Teams')]"
},
"teams_2": {
"connectionId": "/subscriptions/a1a21640-263b-45e1-9ad1-be5b4e1eb6ad/resourceGroups/5Q-RG-Playbooks/providers/Microsoft.Web/connections/teams-3",
"connectionName": "teams-3",
"id": "/subscriptions/a1a21640-263b-45e1-9ad1-be5b4e1eb6ad/providers/Microsoft.Web/locations/eastus/managedApis/teams"
}
}
},
"ChannelId": {
"value": "ChannelId"
},
"CurrentSubscriptionId": {
"value": "a1a21640-263b-45e1-9ad1-be5b4e1eb6ad"
},
"MailingList": {
"value": "SOC@oud.com; Sentinel@oud.com; jake.derkowski@oud.com"
},
"ResourceGroupName": {
"value": "rg-5q-sentinel"
},
"TeamsId": {
"value": "TeamsId"
},
"WorkspaceName": {
"value": "5Q-LogAnalytics-Sentinel"
}
}
},
"name": "[parameters('PlaybookName')]",
"type": "Microsoft.Logic/workflows",
"location": "[resourceGroup().location]",
"tags": {
"Type": "HealthMonitoring",
"AutomationRule": "Notify-ResourceHealth",
"hidden-SentinelTemplateName": "Send-AnalyticalRulesHealthNotifications",
"hidden-SentinelTemplateVersion": "1.0"
},
"identity": {
"type": "SystemAssigned"
},
"apiVersion": "2017-07-01",
"dependsOn": [
"[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
"[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]"
]
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('Office365ConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('Office365ConnectionName')]",
"customParameterValues": {},
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
}
}
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('TeamsConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('TeamsConnectionName')]",
"customParameterValues": {},
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Teams')]"
}
}
}
]
}
