Azure/Sentinel Playbooks/OLD/Send-Teams-adaptive-card-on-incident-creation/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "",
        "description": "",
        "prerequisites": "",
    "postDeployment": [],
    "prerequisitesDeployTemplateFile": "",
    "lastUpdateTime": "",
"entities": [],
"tags": [],
"support": {
"tier": "community",
"armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
},
"author": {
"name": ""
}
},
"parameters": {
"PlaybookName": {
"defaultValue": "Send-Teams-adaptive-card-on-incident-creation",
"type": "string"
}
},
"variables": {
"MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
"TeamsConnectionName": "[concat('Teams-', parameters('PlaybookName'))]"
},
"resources": [
{
"properties": {
    "provisioningState": "Succeeded",
    "state": "Enabled",
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {
            "$connections": {
            "defaultValue": {},
            "type": "Object"
        }
    },
    "triggers": {
        "Microsoft_Sentinel_incident": {
            "type": "ApiConnectionWebhook",
            "inputs": {
                "body": {
                    "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                    }
                },
                "path": "/incident-creation"
            }
        }
    },
    "actions": {
        "Compose_-_Adaptive_card_body": {
            "runAfter": {
                "Create_HTML_table": [
                    "Succeeded"
                ]
            },
            "type": "Compose",
            "inputs": {
                "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                "actions": [
                    {
                        "data": {
                            "x": "confirm"
                        },
                        "title": "Submit response!",
                        "type": "Action.Submit"
                    }
                ],
                "body": [
                    {
                        "size": "Large",
                        "text": "New Microsoft Sentinel incident created",
                        "type": "TextBlock",
                        "wrap": true
                    },
                    {
                        "text": "[Click here to view the Incident](@{triggerBody()?['object']?['properties']?['incidentUrl']})",
                        "type": "TextBlock",
                        "wrap": true
                    },
                    {
                        "facts": [
                            {
                                "size": "medium",
                                "spacing": "large",
                                "title": "Incident Title",
                                "value": "@{triggerBody()?['object']?['properties']?['title']}"
                            },
                            {
                                "spacing": "Medium",
                                "title": "Incident ID",
                                "value": "@{triggerBody()?['object']?['properties']?['incidentNumber']}"
                            },
                            {
                                "spacing": "Medium",
                                "title": "Incident Creation time (UTC)",
                                "value": "@{triggerBody()?['object']?['properties']?['createdTimeUtc']}"
                            },
                            {
                                "spacing": "Medium",
                                "title": "Severity",
                                "value": "@{triggerBody()?['object']?['properties']?['severity']}"
                            },
                            {
                                "spacing": "Medium",
                                "title": "Alert Providers",
                                "value": "@{join(triggerBody()?['object']?['properties']?['additionalData']?['alertProductNames'],'; ')}"
                            },
                            {
                                "spacing": "Medium",
                                "title": "Tactics",
                                "value": "@{join(triggerBody()?['object']?['properties']?['additionalData']?['tactics'], '; ')}"
                            },
                            {
                                "spacing": "Medium",
                                "title": "Description",
                                "value": "@{triggerBody()?['object']?['properties']?['description']}"
                            },
                            {
                                "spacing": "Medium",
                                "title": "Entities",
                                "value": "@{body('Select_entities')}"
                            }
                        ],
                        "type": "FactSet"
                    },
                    {
                        "size": "Large",
                        "spacing": "Large",
                        "text": "Respond:",
                        "type": "TextBlock",
                        "weight": "Bolder"
                    },
                    {
                        "size": "Small",
                        "style": "Person",
                        "type": "Image",
                        "url": "https://connectoricons-prod.azureedge.net/releases/v1.0.1391/1.0.1391.2130/azuresentinel/icon.png"
                    },
                    {
                        "text": "Close Microsoft Sentinel incident?",
                        "type": "TextBlock"
                    },
                    {
                        "choices": [
                            {
                                "isSelected": true,
                                "title": "Close incident - False Positive",
                                "value": "FalsePositive - IncorrectAlertLogic"
                            },
                            {
                                "title": "Close incident - True Positive",
                                "value": "TruePositive - SuspiciousActivity"
                            },
                            {
                                "title": "Close incident - Benign Positive",
                                "value": "BenignPositive - SuspiciousButExpected"
                            },
                            {
                                "title": "Don't close the incident",
                                "value": "no"
                            }
                        ],
                        "id": "incidentStatus",
                        "style": "compact",
                        "type": "Input.ChoiceSet",
                        "value": "no"
                    },
                    {
                        "text": "Change Microsoft Sentinel incident severity?",
                        "type": "TextBlock"
                    },
                    {
                        "choices": [
                            {
                                "isSelected": true,
                                "title": "High",
                                "value": "High"
                            },
                            {
                                "title": "Medium",
                                "value": "Medium"
                            },
                            {
                                "title": "Low",
                                "value": "Low"
                            },
                            {
                                "title": "Informational",
                                "value": "Informational"
                            },
                            {
                                "title": "Don't change",
                                "value": "same"
                            }
                        ],
                        "id": "incidentSeverity",
                        "style": "compact",
                        "type": "Input.ChoiceSet",
                        "value": "same"
                    }
                ],
                "type": "AdaptiveCard",
                "version": "1.4"
            }
        },
        "Condition_-_Change_Severity": {
            "actions": {
                "Update_incident_-_update_severity": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                    "body": {
                        "incidentArmId": "@triggerBody()?['object']?['id']",
                        "owner": "8ca2fbd0-263f-4bb8-86f5-6eee0ca77f74",
                        "ownerAction": "Assign",
                        "severity": "@{body('Post_Adaptive_Card_and_wait_for_a_response')?['data']?['incidentSeverity']}",
                        "status": "Active",
                        "tagsToAdd": {
                            "TagsToAdd": [
                                {
                                    "Tag": "SeverityChange"
                                }
                            ]
                        }
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                        }
                    },
                    "method": "put",
                    "path": "/Incidents"
                }
            }
        },
        "runAfter": {
            "Post_adaptive_card_and_wait_for_a_response": [
                "Succeeded"
            ]
        },
        "expression": {
            "and": [
                {
                    "not": {
                        "equals": [
                            "@body('Post_Adaptive_Card_and_wait_for_a_response')?['data']?['incidentSeverity']",
                            "same"
                        ]
                    }
                }
            ]
        },
        "type": "If"
    },
    "Condition_-_Close_incident": {
        "actions": {
            "Update_incident_-_close_incident": {
            "runAfter": {},
            "type": "ApiConnection",
            "inputs": {
                "body": {
                    "classification": {
                        "ClassificationAndReason": "@{body('Post_Adaptive_Card_and_wait_for_a_response')?['data']?['incidentStatus']}",
                        "ClassificationReasonText": "User choice from Send Teams adaptive card on incident creation playbook."
                    },
                    "incidentArmId": "@triggerBody()?['object']?['id']",
                    "owner": "8ca2fbd0-263f-4bb8-86f5-6eee0ca77f74",
                    "ownerAction": "Assign",
                    "status": "Closed"
                },
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                    }
                },
                "method": "put",
                "path": "/Incidents"
            }
        }
    },
    "runAfter": {
        "Condition_-_Change_Severity": [
            "Succeeded"
        ]
    },
    "expression": {
        "and": [
            {
                "not": {
                    "equals": [
                        "@body('Post_Adaptive_Card_and_wait_for_a_response')?['data']?['incidentStatus']",
                        "no"
                    ]
                }
            }
        ]
    },
    "type": "If"
},
"Create_HTML_table": {
    "runAfter": {
        "Select_entities": [
            "Succeeded"
        ]
    },
    "type": "Table",
    "inputs": {
        "format": "HTML",
        "from": "@body('Select_entities')"
    }
},
"Parse_entites": {
"runAfter": {},
"type": "ParseJson",
"inputs": {
    "content": "@triggerBody()?['object']?['properties']?['relatedEntities']",
    "schema": {
        "items": {
            "properties": {
                "id": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "properties": {
                    "properties": {
                        "commandLine": {
                            "type": "string"
                        },
                        "creationTimeUtc": {
                            "type": "string"
                        },
                        "elevationToken": {
                            "type": "string"
                        },
                        "friendlyName": {
                            "type": "string"
                        },
                        "imageFileEntityId": {
                            "type": "string"
                        },
                        "parentProcessEntityId": {
                            "type": "string"
                        },
                        "processId": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "type": {
                    "type": "string"
                }
            },
            "required": [
                "id",
                "type",
                "kind",
                "properties"
            ],
            "type": "object"
        },
        "type": "array"
    }
}
},
"Post_adaptive_card_and_wait_for_a_response": {
"runAfter": {
    "Compose_-_Adaptive_card_body": [
        "Succeeded"
    ]
},
"type": "ApiConnectionWebhook",
"inputs": {
    "body": {
        "body": {
            "messageBody": "@{outputs('Compose_-_Adaptive_card_body')}",
            "recipient": {
                "channelId": "19:2cf8738413424e08a9cca54b1d53ca85@thread.tacv2",
                "groupId": "31b9af4e-30d6-4bce-826d-7723dffda48e"
            },
            "updateMessage": "Thanks for your response!"
        },
        "notificationUrl": "@{listCallbackUrl()}"
    },
    "host": {
        "connection": {
            "name": "@parameters('$connections')['teams_1']['connectionId']"
        }
    },
    "path": "/v1.0/teams/conversation/gatherinput/poster/Flow bot/location/@{encodeURIComponent('Channel')}/$subscriptions"
}
},
"Select_entities": {
"runAfter": {
    "Parse_entites": [
        "Succeeded"
    ]
},
"type": "Select",
"inputs": {
    "from": "@body('Parse_entites')",
    "select": {
        "Entity": "@item()?['properties']?['friendlyName']",
        "Entity type": "@item()['kind']"
    }
}
}
},
"outputs": {}
},
"parameters": {
"$connections": {
"value": {
"azuresentinel_1": {
"connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
"connectionName": "[variables('MicrosoftSentinelConnectionName')]",
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
"connectionProperties": {
    "authentication": {
        "type": "ManagedServiceIdentity"
    }
}
},
"teams_1": {
"connectionId": "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
"connectionName": "[variables('TeamsConnectionName')]",
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Teams')]"
}
}
}
}
},
"name": "[parameters('PlaybookName')]",
"type": "Microsoft.Logic/workflows",
"location": "[resourceGroup().location]",
"tags": {
"AutomationRule": "Notify-NewIncident",
"hidden-SentinelTemplateName": "Send-Teams-adaptive-card-on-incident-creation",
"hidden-SentinelTemplateVersion": "1.0"
},
"identity": {
"type": "SystemAssigned"
},
"apiVersion": "2017-07-01",
"dependsOn": [
"[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
"[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]"
]
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('MicrosoftSentinelConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('MicrosoftSentinelConnectionName')]",
"customParameterValues": {},
"parameterValueType": "Alternative",
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
}
}
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('TeamsConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('TeamsConnectionName')]",
"customParameterValues": {},
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Teams')]"
}
}
}
]
}
