Exchange/Azure test resources/Restrict-MDEDomain/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "",
        "description": "",
        "prerequisites": "",
    "postDeployment": [],
    "prerequisitesDeployTemplateFile": "",
    "lastUpdateTime": "",
"entities": [],
"tags": [],
"support": {
"tier": "community",
"armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
},
"author": {
"name": ""
}
},
"parameters": {
"PlaybookName": {
"defaultValue": "Restrict-MDEDomain",
"type": "string"
}
},
"variables": {
"MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]"
},
"resources": [
{
"properties": {
    "provisioningState": "Succeeded",
    "state": "Enabled",
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {
            "$connections": {
            "defaultValue": {},
            "type": "Object"
        }
    },
    "triggers": {
        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
            "type": "ApiConnectionWebhook",
            "inputs": {
                "body": {
                    "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['azuresentinel_2']['connectionId']"
                    }
                },
                "path": "/subscribe"
            }
        }
    },
    "actions": {
        "Alert_-_Get_incident": {
        "runAfter": {},
        "type": "ApiConnection",
        "inputs": {
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['azuresentinel_2']['connectionId']"
                }
            },
            "method": "get",
            "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/workspaces/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/alerts/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
        }
    },
    "For_each": {
        "foreach": "@body('Parse_JSON')",
        "actions": {
            "Condition": {
                "actions": {
                    "Add_comment_to_incident_(V3)": {
                        "runAfter": {
                            "HTTP": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection",
                        "inputs": {
                            "body": {
                                "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                                "message": "<p>@{items('For_each')?['DomainName']} was added to MDE Indicators with action: AlertandBlock via playbook.</p>"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel_2']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/Incidents/Comment"
                        }
                    },
                    "HTTP": {
                    "runAfter": {},
                    "type": "Http",
                    "inputs": {
                        "authentication": {
                            "audience": "https://api.securitycenter.windows.com/",
                            "type": "ManagedServiceIdentity"
                        },
                        "body": {
                            "action": "AlertAndBlock",
                            "application": "Azure Sentinel",
                            "description": "@{body('Alert_-_Get_incident')?['properties']?['incidentNumber']}-@{body('Alert_-_Get_incident')?['properties']?['title']}",
                            "expirationTime": "@{addDays(triggerBody()?['TimeGenerated'], 90)}",
                            "indicatorType": "DomainName",
                            "indicatorValue": "@{items('For_each')?['DomainName']}",
                            "severity": "@{body('Alert_-_Get_incident')?['properties']?['severity']}",
                            "title": "@{guid()}"
                        },
                        "method": "POST",
                        "uri": "https://api.securitycenter.windows.com/api/indicators"
                    }
                }
            },
        "runAfter": {},
        "expression": {
            "and": [
                {
                    "equals": [
                        "@items('For_each')['Type']",
                        "dnsResolution"
                    ]
                },
                {
                    "or": [
                        {
                            "equals": [
                                "@items('For_each')['Type']",
                                "url"
                            ]
                        }
                    ]
                }
            ]
        },
        "type": "If"
    }
},
"runAfter": {
    "Parse_JSON": [
        "Succeeded"
    ]
},
"type": "Foreach"
},
"Parse_JSON": {
"runAfter": {
    "Alert_-_Get_incident": [
        "Succeeded"
    ]
},
"type": "ParseJson",
"inputs": {
    "content": "@triggerBody()?['Entities']",
    "schema": {
        "items": {
            "properties": {
                "$id": {
                    "type": "string"
                },
                "$ref": {
                    "type": "string"
                },
                "AadDeviceId": {
                    "type": "string"
                },
                "AadUserId": {
                    "type": "string"
                },
                "AvStatus": {
                    "type": "string"
                },
                "CommandLine": {
                    "type": "string"
                },
                "CreatedTimeUtc": {
                    "type": "string"
                },
                "CreationTimeUtc": {
                    "type": "string"
                },
                "ElevationToken": {
                    "type": "string"
                },
                "FQDN": {
                    "type": "string"
                },
                "HealthStatus": {
                    "type": "string"
                },
                "HostName": {
                    "type": "string"
                },
                "ImageFile": {
                    "properties": {
                        "$id": {
                            "type": "string"
                        },
                        "CreatedTimeUtc": {
                            "type": "string"
                        },
                        "Directory": {
                            "type": "string"
                        },
                        "FileHashes": {
                            "items": {
                                "properties": {
                                    "$id": {
                                        "type": "string"
                                    },
                                    "Algorithm": {
                                        "type": "string"
                                    },
                                    "Type": {
                                        "type": "string"
                                    },
                                    "Value": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "$id",
                                    "Algorithm",
                                    "Value",
                                    "Type"
                                ],
                                "type": "object"
                            },
                            "type": "array"
                        },
                        "Name": {
                            "type": "string"
                        },
                        "Type": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "IsDomainJoined": {
                    "type": "boolean"
                },
                "LastExternalIpAddress": {
                    "type": "string"
                },
                "LastIpAddress": {
                    "type": "string"
                },
                "LastSeen": {
                    "type": "string"
                },
                "LoggedOnUsers": {
                    "items": {
                        "properties": {
                            "AccountName": {
                                "type": "string"
                            },
                            "DomainName": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "AccountName",
                            "DomainName"
                        ],
                        "type": "object"
                    },
                    "type": "array"
                },
                "MdatpDeviceId": {
                    "type": "string"
                },
                "NTDomain": {
                    "type": "string"
                },
                "Name": {
                    "type": "string"
                },
                "OSFamily": {
                    "type": "string"
                },
                "OSVersion": {
                    "type": "string"
                },
                "OnboardingStatus": {
                    "type": "string"
                },
                "ParentProcess": {
                    "properties": {
                        "$id": {
                            "type": "string"
                        },
                        "CommandLine": {
                            "type": "string"
                        },
                        "CreatedTimeUtc": {
                            "type": "string"
                        },
                        "CreationTimeUtc": {
                            "type": "string"
                        },
                        "ImageFile": {
                            "properties": {
                                "$ref": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "ProcessId": {
                            "type": "string"
                        },
                        "Type": {
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "ProcessId": {
                    "type": "string"
                },
                "RiskScore": {
                    "type": "string"
                },
                "Sid": {
                    "type": "string"
                },
                "Type": {
                    "type": "string"
                },
                "UPNSuffix": {
                    "type": "string"
                },
                "Url": {
                    "type": "string"
                },
                "UserPrincipalName": {
                    "type": "string"
                }
            },
        "required": [],
        "type": "object"
    },
    "type": "array"
}
}
}
},
"outputs": {}
},
"parameters": {
"$connections": {
"value": {
"azuresentinel_2": {
"connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
"connectionName": "[variables('MicrosoftSentinelConnectionName')]",
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
"connectionProperties": {
"authentication": {
    "type": "ManagedServiceIdentity"
}
}
}
}
}
}
},
"name": "[parameters('PlaybookName')]",
"type": "Microsoft.Logic/workflows",
"location": "[resourceGroup().location]",
"tags": {
"LogicAppsCategory": "security",
"Status": "incomplete",
"trigger": "alert",
"hidden-SentinelTemplateName": "Restrict-MDEDomain",
"hidden-SentinelTemplateVersion": "1.0"
},
"identity": {
"type": "SystemAssigned"
},
"apiVersion": "2017-07-01",
"dependsOn": [
"[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
]
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('MicrosoftSentinelConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('MicrosoftSentinelConnectionName')]",
"customParameterValues": {},
"parameterValueType": "Alternative",
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
}
}
}
]
}
