Azure test resources/Old exported playbooks/Restrict-MDEIpAddress/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "",
        "description": "",
        "prerequisites": "",
    "postDeployment": [],
    "prerequisitesDeployTemplateFile": "",
    "lastUpdateTime": "",
"entities": [],
"tags": [],
"support": {
"tier": "community",
"armtemplate": "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
},
"author": {
"name": ""
}
},
"parameters": {
"PlaybookName": {
"defaultValue": "Restrict-MDEIpAddress",
"type": "string"
}
},
"variables": {
"MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]"
},
"resources": [
{
"properties": {
    "provisioningState": "Succeeded",
    "state": "Enabled",
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {
            "$connections": {
            "defaultValue": {},
            "type": "Object"
        }
    },
    "triggers": {
        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
            "type": "ApiConnectionWebhook",
            "inputs": {
                "body": {
                    "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                    }
                },
                "path": "/subscribe"
            }
        }
    },
    "actions": {
        "Alert_-_Get_incident": {
        "runAfter": {},
        "type": "ApiConnection",
        "inputs": {
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                }
            },
            "method": "get",
            "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/workspaces/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/alerts/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
        }
    },
    "Entities_-_Get_IPs": {
        "runAfter": {
            "Alert_-_Get_incident": [
                "Succeeded"
            ]
        },
        "type": "ApiConnection",
        "inputs": {
            "body": "@triggerBody()?['Entities']",
            "host": {
                "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                }
            },
            "method": "post",
            "path": "/entities/ip"
        }
    },
    "For_each": {
        "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
        "actions": {
            "Add_comment_to_incident_(V3)": {
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "body": {
                        "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                        "message": "<p>@{items('For_each')?['Address']} was added to MDE Indicators with action: AlertandBlock via playbook.</p>"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Incidents/Comment"
                }
            },
            "HTTP": {
            "runAfter": {},
            "type": "Http",
            "inputs": {
                "authentication": {
                    "audience": "https://api.securitycenter.windows.com",
                    "type": "ManagedServiceIdentity"
                },
                "body": {
                    "action": "AlertAndBlock",
                    "application": "Azure Sentinel",
                    "description": "@{body('Alert_-_Get_incident')?['properties']?['incidentNumber']}-@{body('Alert_-_Get_incident')?['properties']?['title']}",
                    "expirationTime": "@{addDays(string(triggerbody()['TimeGenerated']), 90)}",
                    "indicatorType": "IpAddress",
                    "indicatorValue": "@{items('For_each')?['Address']}",
                    "severity": "@{body('Alert_-_Get_incident')?['properties']?['severity']}",
                    "title": "@{guid()}"
                },
                "headers": {
                    "Content-type": "application/json"
                },
                "method": "POST",
                "uri": "https://api.securitycenter.windows.com/api/indicators"
            }
        }
    },
    "runAfter": {
        "Entities_-_Get_IPs": [
            "Succeeded"
        ]
    },
    "type": "Foreach"
}
},
"outputs": {}
},
"parameters": {
"$connections": {
"value": {
"azuresentinel": {
    "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
    "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
    "connectionProperties": {
        "authentication": {
            "type": "ManagedServiceIdentity"
        }
    }
},
"azuresentinel_1": {
    "connectionId": "/subscriptions/a1a21640-263b-45e1-9ad1-be5b4e1eb6ad/resourceGroups/5Q-RG-Playbooks/providers/Microsoft.Web/connections/azuresentinel-3",
    "connectionName": "azuresentinel-3",
    "id": "/subscriptions/a1a21640-263b-45e1-9ad1-be5b4e1eb6ad/providers/Microsoft.Web/locations/eastus/managedApis/azuresentinel"
}
}
}
}
},
"name": "[parameters('PlaybookName')]",
"type": "Microsoft.Logic/workflows",
"location": "[resourceGroup().location]",
"tags": {
"LogicAppsCategory": "security",
"hidden-SentinelTemplateName": "Restrict-MDEIpAddress",
"hidden-SentinelTemplateVersion": "1.0"
},
"identity": {
"type": "SystemAssigned"
},
"apiVersion": "2017-07-01",
"dependsOn": [
"[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
]
},
{
"type": "Microsoft.Web/connections",
"apiVersion": "2016-06-01",
"name": "[variables('MicrosoftSentinelConnectionName')]",
"location": "[resourceGroup().location]",
"kind": "V1",
"properties": {
"displayName": "[variables('MicrosoftSentinelConnectionName')]",
"customParameterValues": {},
"parameterValueType": "Alternative",
"api": {
"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
}
}
}
]
}
